<div class="container" style="background-color: #ffffff; border-radius: 10px; padding: 20px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);">
  <h1>Generated YAML for <%= @os %></h1>
  <div style="max-height: 400px; overflow-y: auto;">
    <pre style="margin: 0;">
      <%= @yaml_content %>
    </pre>
  </div>
</div>

<div style="text-align: center; margin-top: 20px;">
  <%= form_with url: generate_controls_path(os: @os, controls: @selected_controls, option: @option, format: :yaml), method: :post, local: true do %>
    <%= submit_tag 'Download Heira File' %>
  <% end %>
</div>
