
  <div class="row">
    <div class="col">
      <h3 class="display-5">Generated Hiera for <%= @os %></h3>
      <div class="mt-1 position-relative">
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-secondary btn-sm mr-2" id="copy-button">Copy to clipboard</button>    
          <%= form_with url: generate_controls_path(os: @os, controls: @selected_controls, option: @option, format: :yaml), method: :post, local: true do |form| %>
            <%= form.submit 'Download Hiera File', class: 'btn btn-info btn-sm' %>
          <% end %>  
        </div>
        <pre style="height: 550px">
          <code id="yaml-content">
            <%= @yaml_content %>
          </code>
        </pre>
      </div>
    </div>
  </div>
  
  <script>
    document.addEventListener('DOMContentLoaded', (event) => {
      hljs.highlightAll();
    });

    document.getElementById('copy-button').addEventListener('click', function() {
      var textarea = document.getElementById('yaml-content');
      var text = textarea.innerText;
      navigator.clipboard.writeText(text)
        .then(function() {
          console.log('Text copied to clipboard');
          var tooltip = document.getElementById('tooltip-text');
          tooltip.innerText = 'Copied to clipboard';
        })
        .catch(function(error) {
          console.error('Failed to copy text to clipboard:', error);
        });
    });

    document.getElementById('copy-button').addEventListener('mouseover', function() {
      var tooltip = document.getElementById('tooltip-text');
      tooltip.innerText = 'Copy to clipboard';
    });
  </script>