<% content_for :content_title do %>
  <h1>Select Operating System</h1>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Operating Systems</th>
      <th></th> <!-- Empty header for the link -->
    </tr>
  </thead>
  <tbody>
    <% @operating_systems.each do |os| %>
      <tr>
        <td><%= os %></td>
        <td><%= link_to 'Select', os_controls_path(os), class: 'btn btn-info' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
