<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HieraFileGenerator</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">

  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #ffffff; /* White background color for the container */
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      background-color: #ced4da; /* Grey background color for the container */
      max-width: 600px;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
      position: relative; /* Add this line for positioning the logo */
    }

    h1 {
      text-align: center;
      margin-bottom: 20px;
      font-family: 'Cursive';
    }

    .logo {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 150px;
      z-index: 1; /* Ensure the logo is above the container */
    }

    .content {
      text-align: justify;
      line-height: 1.6;
      z-index: 0; /* Set content behind the logo */
      position: relative; /* Add this line to ensure content is in front of grey background */
    }

    ul {
      list-style-type: none; /* Remove default bullets */
      padding: 0; /* Remove default padding */
    }

    ul li {
      margin-bottom: 10px;
      background-color: #f8f9fa; /* Light gray background color for list items */
      border-radius: 5px; /* Rounded corners for list items */
      padding: 10px; /* Padding for list items */
    }

    ul li a {
      text-decoration: none; /* Remove underline from links */
      color: #333333; /* Text color for links */
    }

    ul li:hover {
      background-color: #28a745; /* Green background color for list items on hover */
    }
  </style>
</head>
<body>
  <%= image_tag 'puppet-logo.jpg', alt: 'Puppet Logo', class: 'logo' %>
  <div class="container">
    <h1 class="display-4">Hiera File Generator</h1>
    <div class="content">
      <p>Introducing our Hiera File Generator tool, designed to streamline the process of creating Hiera files effortlessly.</p>
      <%= yield %>
    </div>
  </div>

  <!-- Bootstrap JS and dependencies -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
</body>
</html>
